 .Planta{ 
    background-color: green;
 }
 .Veneno{
    background-color: blueviolet;
 }
 .Fuego{
    background-color: orange;
 }
 .Volador{
    background-color: gray;
 }
 .Agua{
    background-color: blue;
 }
 .Bicho{
    background-color: yellowgreen;
 }
 .Psiquico{
    background-color: salmon;
 }
 .Hielo{
    background-color: cornflowerblue;
 }